@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* give all element this property to easy styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato',sans-serif;
}
/* I split the page by 10 columns i see that is he best */
.container {
    height: 1720px;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 10% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
        "main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer";

}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: "subHead subHead subHead subHead subHead subHead subHead subHead subHead subHead"
        "mHead mHead mHead mHead mHead mHead mHead mHead mHead mHead"
        "space space space space space space space space space space";
}

.subHead {
    grid-area: subHead;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EEE;
    height: 100%;
    padding-right: 5%;
}

.subHead a {
    font-size: 12px;
    font-weight: 600;
    margin: 1%;
    cursor: pointer;
    transition: opactity 150ms;
    color: rgb(30, 30, 30);
}

.subHead a:hover {
    opacity: 0.6;
}

.subHead span {
    background-color: rgb(30, 30, 30);
    height: 40%;
    width: 2px;
    vertical-align: baseline;
    border-radius: 5px;

}

.main-header {
    grid-area: mHead;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 100%;
    grid-template-areas: "logo title title title title title title title title title ";
}

.space {
    grid-area: space;
    background-color: #EEE;
    height: 100%;
    width: 100%;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 45%;
    text-align: center;
    width: 45%;
    cursor: pointer;
    transition: opacity 0.15s;
}
.logo img:hover{
    opacity: 0.6;
}
.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 75px;
}

.title div {
    height: max-content;
    font-size: 17px;
    align-self: center;
    padding: 1.8%;
    font-weight: 500;
    margin: auto 1%;
    cursor: pointer;
    position: relative;
}
.title div:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0;

}



main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 50% 20% 30%;
    grid-template-areas: ". img img img img img img img img ."
        "sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1"
        "sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2";
}

main img {
    width: 100%;
    height: 100%;
    grid-area: img;
}

.sec1 {
    grid-row: sec1;
}

.sec2 {
    grid-area: sec2;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-areas: "mFooter mFooter mFooter mFooter mFooter icons icons icons icons icons";
}

.main-footer {
    grid-area: mFooter;
}

.icons {
    grid-area: icons;
}