* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 20% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
        "main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer";

}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

main img {
    grid-area: mainImg;
    width: 100px;
    height: 60px;
}

.main img {
    width: 10%;
    height: 5%;
}