* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(6,calc(100%/6));
    grid-template-rows: 20% 40% 30% 10%;
    grid-template-areas: "header header header header header header"
                         "mHeader mHeader mHeader mHeader mHeader mHeader"
                        "mainImg mainImg mainImg mainImg mainImg mainImg"
                        "mainfooter mainfooter mainfooter mainfooter icons icons";
}

.header {
    grid-area: header;
}
.main-header{
    grid-area: mHeader;
}
main img{
    grid-area: mainImg;
}

.mainfooter {
    grid-area: mainfooter;
}
.icons{
    grid-area: mainfooter;
}

.main img {
    width: 10%;
    height: 5%;
}