* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 1720px;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 10% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
        "main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer";

}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 5% auto;
    grid-template-areas: "subHead subHead subHead subHead subHead subHead subHead subHead subHead subHead"
        "mHead mHead mHead mHead mHead mHead mHead mHead mHead mHead";
}

.subHead {
    grid-area: subHead;
}

.main-header {
    grid-area: mHead;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-rows: 50% 20% 30%;
    grid-template-areas: ". img img img img img img img img ."
        "sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1"
        "sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2 sec2";
}

main img {
    width: 100%;
    height: 100%;
    grid-area: img;
}
.sec1{
    grid-row: sec1;
}
.sec2{
    grid-area: sec2;
}
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(10, calc(100%/10));
    grid-template-areas: "mFooter mFooter mFooter mFooter mFooter icons icons icons icons icons";
}
.main-footer{
    grid-area: mFooter;
}
.icons{
    grid-area: icons;
}