body{
    background-color: #427D9D;
    height: 742px;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    border-radius: 5px;
    background-color: white;
}
form{
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
}
.logo{
    color: white;
    background-color: #164863;
    padding: 18px 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px 5px 0 0 ;
}
input{
    padding: 8px 0 8px 25px;
    margin-bottom: 2%;
    outline: none;
    color: #164863;
    border: solid 1px rgb(200, 200, 200);
    font-size: 16px;
}
.forpass{
    color: #427D9D;
    margin: 5px 0;
    font-weight: 500;
    cursor: pointer;
}
.forpass:hover{
    color: #164863;
}
button{
    border: none;
    border-radius: 4px;
    background-color: #427D9D;
    font-size: 18px;
    padding: 8px;
    color: white;
    cursor: pointer;
    margin: 10px 0 0 0;
    font-weight: 600;
}
.signup{
    text-align: center;
    margin: 20px 0 ;
}
.signup span{
    color: #427D9D;
    margin: 0 5px;
}