body {
    background-color: var(--main-Color);
    height: 742px;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --main-Color: #427D9D;
    --second-Color: #164863;
    --white-color: #fff;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    border-radius: 5px;
    background-color: var(--white-color);
}

form {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--white-color);
    padding: 20px;
    padding-bottom: 0;
}

.logo {
    color: var(--white-color);
    background-color: var(--second-Color);
    padding: 18px 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
}

input {
    position: relative;
    padding: 8px 0 8px 25px;
    margin-bottom: 2%;
    outline: none;
    color: var(--second-Color);
    border: solid 1px rgb(200, 200, 200);
    font-size: 16px;
}
i{
    position: relative;
    top: 25px;
    z-index: 1;
    left: 5px;
    color: var(--second-Color);
    width: fit-content;
}
.forpass {
    color: var(--main-Color);
    margin: 5px 0;
    font-weight: 500;
    cursor: pointer;
    transition: color 150ms;
}

.forpass:hover {
    color: var(--second-Color);
}

button {
    border: none;
    border-radius: 4px;
    background-color: var(--main-Color);
    font-size: 18px;
    padding: 8px;
    color: var(--white-color);
    cursor: pointer;
    margin: 10px 0 0 0;
    font-weight: 600;
    transition: opacity 0.15s;
}

button:hover {
    opacity: 0.9;
}

.signup {
    text-align: center;
    margin: 20px 0;
}

.signup span {
    color: var(--main-Color);
    margin: 0 5px;
    cursor: pointer;
    transition: color 150ms;
}

.signup span:hover {
    color: var(--second-Color);
}