@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    background-color: var(--backgroundColor);
    height: 740px;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root{
    --backgroundColor:rgb(243 224 226) ;
}
.container{
    display: flex;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),-5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: 500px;
    width: 890px;
}
.container .image-slide{
    background-color: crimson;
    color: white;
    padding: 20px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
}
.image-slide .logo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 20px 0;
}
.image-slide .subtitle {
    align-items: center;
    max-width: 300px;
    text-align: center;
    padding: 15px;
    font-weight: 400;
}

.form-slide{
    background-color: white;
    padding: 20px;
    border-radius: 15px 0 0 15px;
    width: 50%;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container .logo{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    margin: 20px;
}
.form-slide i{
    font-size: 34px;
    cursor: pointer;
    margin: 15px 8px;
}
.title{
    font-size: 14px;
    font-weight: 200;
    margin: 20px 0 5px 0 ;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
form input{
    outline: none ;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 2px;
    background-color: #eee;
    width: 80%;
}
form .forgpass{
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;

}
form button{
    padding: 15px 60px;
    background-color: crimson;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}